version: "3.9"

services:
  app:
    build: .
    container_name: app-app
    restart: unless-stopped

    networks:
      - traefik_net

    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.app.rule=Host(`app.a3jm.com`)"
      - "traefik.http.routers.app.entrypoints=websecure"
      - "traefik.http.routers.app.tls.certresolver=letsencrypt"
      - "traefik.http.services.app.loadbalancer.server.port=3000"

networks:
  traefik_net:
    external: true
